*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    background-color: #EAB2A0;
    text-align: center;
}


#container{
    display: flex;
    flex-direction: row;
}

#headerTop{
    background-color: darkslategray;
}
#verification{
    background-color: darkslategray;
    margin: auto;
    color: #EAB2A0;
    font-size: calc(2px + 2vh);
    padding-left:15%;
}
button{
    padding: 2% 0;
    font-family: 'PT serif', sans-serif;
    background-color: #EAB2A0;
}
input{
    padding: 2% 0;
    font-family: 'PT serif', sans-serif;
}
header{
    background-color: darkslategray;
    text-align: left;
    padding-left: 3%;
    font-family: 'PT serif', sans-serif;
    display: flex;
    flex-direction: row;
}

header h1{
    color: #EAB2A0;
}

header p{
    color: #EAB2A0;
}

nav{
    background-color: #435B66;
    width: 30%;
}

nav li a:hover{
    background-color: #2D4356;
}

nav ul{
    border: solid #A76F6F 5px;
    list-style: none;
}

nav li a{
    color: #EAB2A0;
    text-decoration: none;
    font-family: 'PT serif', sans-serif;

}


main{
    padding-bottom: 10%;
}
main h2{
    color: darkslategrey;
    margin-bottom: 1%;
    font-family: 'PT serif', sans-serif;
}

main h4{
    color: darkslategrey;
    margin-bottom: 5%;
    margin-top: 5%;
    font-family: 'PT serif', sans-serif;
}

main table {
    color: darkslategrey;
    margin: auto;
}

footer {
    background-color: darkslategray;
    padding-top: 1px;
    padding-bottom: 2px;
    text-align: center;
}

footer p{
    color: #EAB2A0;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: 'PT serif', sans-serif;
}

footer p a{
    color: #EAB2A0;
}


header h1{
    font-size: calc(10px + 3vw);
}
header p{
    font-size: calc(5px + 1.5vw)
}

nav li{
    font-size:calc(2px + 2vw);
    padding: 30% 0;
}

main{
    width: 70%;
    padding-top: 15%;
    padding-bottom: 25%;
}
#tables{
    display: flex;
    flex-direction:column;
    width: 100%;
}
main table{
    border: #2D4356 solid 2px;
}
main h2{
    font-size: calc(2px + 3vw)
}

main h4{
    font-size: calc(2px + 2vw)
}

main td{
    font-size: calc(2px + 2vw)
}
footer p{
    font-size: calc(1px + 1.5vw);
    margin-top: 10%;
    margin-bottom: 10%;
}

@media screen and (max-width: 900px) {

    #container {
        display: flex;
        flex-direction: column;
    }

    header{
        text-align: center;
        display: flex;
        flex-direction:column;
    }

    #verification{
        background-color: darkslategray;
        padding-left:0;
    }
    nav {
        text-align: center;
        width: 100%;
    }

    nav li{
        font-size:calc(2px + 2vw);
        padding: 4% 0;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-left: 0;
        padding: 2%;
    }

    main {
        width: 100%;
    }

    footer p {
        font-size: calc(3px + 1vh);
        padding: 10% 0;
    }

}